* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(aura2.jpg);
}

.login form {
  padding: 50px;
  width: 490px;
  border-radius: 25px;
  background: linear-gradient(rgb(133, 133, 171), rgb(47, 12, 97));
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: auto;
  margin-top: 200px;
  margin-left: 500px;
  color: white;
}
fieldset {
  text-align: center; /* Centra el contenido del fieldset */
  border-radius: 10px;
  border: none;
}

legend {
  width: auto;
  padding: 0 10px;
  background-color: #f9f9f9;
  font-size: 18px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 5px;
}

.login input {
  width: 380px;
  padding-top: 20px;
  margin-top: 58px;
  border-radius: 10px;
}

input[type="submit"] {
  background: linear-gradient(rgb(133, 133, 171), rgb(47, 12, 97));
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: black;
  padding: 5px;
}
